body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

#animation-container {
  width: 100%;
  box-shadow: 0px 0px 7px 1px black;
}

#animation-target {
  animation: slidein 3s 3 alternate;
}

@keyframes slidein {
  from {
    margin-left: 100%;
  }

  75% {
    margin-left: 25%;
    width: 5%;
  }

  to {
    margin-left: 0%;
  }
}
